body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-success{
  margin-bottom: 1.5em;
  background-color: #198754;
  color: #FFF;
  border:0;
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.1em;
  border-radius: 6px;
  transition: ease-in 0.2s;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-success svg{
  margin-right: 5px;
}

.btn-success:hover{
  background-color: #19945a;
  transform: scale(1.01);
}

.btn-danger{
  margin-bottom: 1.5em;
  background-color: #dc3545;
  border-color: #dc3545;
  color: #FFF;
  border:0;
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.1em;
  border-radius: 6px;
  transition: ease-in 0.2s;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-danger svg{
  margin-right: 5px;
}

.btn-danger:hover{
  background-color: #c73745;
  transform: scale(1.01);
}

.btn-warning{
  margin-bottom: 1.5em;
  background-color: #ffc107;
  border-color: #ffc107;
  color: #FFF;
  border:0;
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.1em;
  border-radius: 6px;
  transition: ease-in 0.2s;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-warning svg{
  margin-right: 5px;
}

.btn-warning:hover{
  background-color: #e4ab00;
  transform: scale(1.01);
}

.btn-primary{
  margin-bottom: 1.5em;
  background-color: #007bff;
  border-color: #007bff;
  color: #FFF;
  border:0;
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.1em;
  border-radius: 6px;
  transition: ease-in 0.2s;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-primary svg{
  margin-right: 5px;
}

.btn-primary:hover{
  background-color: #0063ce;
  transform: scale(1.01);
}

table{
  border:1px solid #CCC;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption{
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr{
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: .35em;
}

table thead tr:hover{
  background:#FFF;
}

table tr:hover{
  background:#e9e7e7;
}

table th,
table td{
  padding: .62em;
  text-align: left;
}

table th{
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: left;
}

table td .action{
  border:0;
  padding: 5px;
  margin-right: 2px;
  align-items: left;
  display: inline-block;
  border-radius: 4px;;
}

table td .action svg{
  vertical-align: middle;
}

table td .badge{
  padding: 3px;
  border-radius: 3px;
  color: #FFF;
}

@media screen and (max-width: 600px){
  table{
    border: 0;
  }

  table caption{
    font-size: 1.3em;
  }

  table thead{
    border:none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr{
    border-bottom: 3px solid #DEE2E6;
    display: block;
    margin-bottom: .65em;
  }

  table td, table th{
    border-bottom: 1px solid #DEE2E6;
    display: table-cell;
    /* display: block; */
    font-size: .8em;
    text-align: right;
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #DEE2E6;
  }

  table td::before{
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: capitalize;
  }

  table td:last-child{
    border-bottom: 0;
  }
}